<!-- Modal Subscription -->
<div class="modal fade modal-ext" id="modal-prices" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body table-responsive">
        <h4 class="modal-title text-center" id="myModalLabel">Замена подкладки</h4>
        <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Пальто (зимнее)</td>
          <td>2000</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Пальто (демисезонное)</td>
          <td>1800</td>
        </tr>
        <tr>
          <td width="4%">3</td>
          <td width="75%">Плащ</td>
          <td>1500</td>
        </tr>
        <tr>
          <td width="4%">4</td>
          <td width="75%">Пиджак</td>
          <td>2000</td>
        </tr>
        <tr>
          <td width="4%">5</td>
          <td width="75%">Шуба</td>
          <td>3000</td>
        </tr>
        <tr>
          <td width="4%">6</td>
          <td width="75%">Кожаное пальто</td>
          <td>2000</td>
        </tr>
        <tr>
          <td width="4%">7</td>
          <td width="75%">Юбка</td>
          <td>1000</td>
        </tr>
        </tbody>
        </table>
      </div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Забрать боковые швы, выпарывая рукава</h4>
      <table  class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Пальто, дубленка (зимнее)</td>
          <td>1000</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Пальто (демисезонное)</td>
          <td>1000</td>
        </tr>
        <tr>
          <td width="4%">3</td>
          <td width="75%">Плащ</td>
          <td>800</td>
        </tr>
        <tr>
          <td width="4%">4</td>
          <td width="75%">Пиджак</td>
          <td>1000</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Укоротить рукава</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Пальто зимнее</td>
          <td>800</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Пальто демисезонное</td>
          <td>600</td>
        </tr>
        <tr>
          <td width="4%">3</td>
          <td width="75%">Плащ</td>
          <td>500</td>
        </tr>
        <tr>
          <td width="4%">4</td>
          <td width="75%">Пиджак</td>
          <td>1000</td>
        </tr>
        <tr>
          <td width="4%">5</td>
          <td width="75%">Куртка кожаная</td>
          <td>900</td>
        </tr>
        <tr>
          <td width="4%">6</td>
          <td width="75%">Блузка</td>
          <td>600</td>
        </tr>
        <tr>
          <td width="4%">7</td>
          <td width="75%">Блузка с манжетой</td>
          <td>750</td>
        </tr>
        <tr>
          <td width="4%">8</td>
          <td width="75%">Усложняющий элемент</td>
          <td>100</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Укоротить низ</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Пальто, дубленка (зимнее)</td>
          <td>1500</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Пальто (демисезонное)</td>
          <td>1000</td>
        </tr>
        <tr>
          <td width="4%">3</td>
          <td width="75%">Пальто кожаное</td>
          <td>1200</td>
        </tr>
        <tr>
          <td width="4%">4</td>
          <td width="75%">Пиджак</td>
          <td>1000</td>
        </tr>
        <tr>
          <td width="4%">5</td>
          <td width="75%">Плащ</td>
          <td>800</td>
        </tr>
        <tr>
          <td width="4%">6</td>
          <td width="75%">Юбка прямая</td>
          <td>500</td>
        </tr>
        <tr>
          <td width="4%">7</td>
          <td width="75%">Юбка клёш</td>
          <td>600</td>
        </tr>
        <tr>
          <td width="4%">8</td>
          <td width="75%">Юбка полусонце</td>
          <td>700</td>
        </tr>
        <tr>
          <td width="4%">9</td>
          <td width="75%">Блузка, сорочка</td>
          <td>400</td>
        </tr>
        <tr>
          <td width="4%">10</td>
          <td width="75%">Брюки без манжет</td>
          <td>350</td>
        </tr>
        <tr>
          <td width="4%">11</td>
          <td width="75%">Брюки с манжетами</td>
          <td>450</td>
        </tr>
        <tr>
          <td width="4%">12</td>
          <td width="75%">Джинсы</td>
          <td>300</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Замена молнии</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Дубленка</td>
          <td>1200</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Куртка кожаная</td>
          <td>1000</td>
        </tr>
        <tr>
          <td width="4%">3</td>
          <td width="75%">Куртка детская</td>
          <td>700</td>
        </tr>
        <tr>
          <td width="4%">4</td>
          <td width="75%">Пуховик</td>
          <td>900</td>
        </tr>
        <tr>
          <td width="4%">5</td>
          <td width="75%">Куртка</td>
          <td>750</td>
        </tr>
        <tr>
          <td width="4%">6</td>
          <td width="75%">Брюки</td>
          <td>400</td>
        </tr>
        <tr>
          <td width="4%">7</td>
          <td width="75%">Юбка</td>
          <td>400</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Юбки</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Изготовить новый пояс</td>
          <td>700</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Забрать боковые швы в юбке частично выпарывая пояс</td>
          <td>500</td>
        </tr>
        <tr>
          <td width="4%">3</td>
          <td width="75%">Заштопать порванный участок изделия машинным способом</td>
          <td>250</td>
        </tr>
        <tr>
          <td width="4%">4</td>
          <td width="75%">Склеить разрыв материала (кожа)</td>
          <td>200</td>
        </tr>
        <tr>
          <td width="4%">5</td>
          <td width="75%">Сделать одну петлю обточенную в легкой одежде или изготовить шлевку, вешалку</td>
          <td>100</td>
        </tr>
        <tr>
          <td width="4%">6</td>
          <td width="75%">То же в пиджаке, пальто, куртке</td>
          <td>100</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Утюжка</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Пальто, полупальто</td>
          <td>600</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Куртка, пиджак, жакет</td>
          <td>500</td>
        </tr>
        <tr>
          <td width="4%">3</td>
          <td width="75%">Брюки, блузка, жакет</td>
          <td>400</td>
        </tr>
        <tr>
          <td width="4%">4</td>
          <td width="75%">Платье, сарафан, халат</td>
          <td>400</td>
        </tr>
        <tr>
          <td width="4%">5</td>
          <td width="75%">Юбка</td>
          <td>300</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Замена воротника, манжета</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Рубашка</td>
          <td>600</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Куртка</td>
          <td>800</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Сделать петли</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Пробивка без глазка</td>
          <td>100</td>
        </tr>
        </tbody>
      </table>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4 class="modal-title text-center">Пошив</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Юбка</td>
          <td>3500 + усложняющий элемент 100</td>
        </tr>
        <tr>
          <td width="4%">2</td>
          <td width="75%">Блузка</td>
          <td>4000 + усложняющий элемент 100</td>
        </tr>
        <tr>
          <td width="4%">3</td>
          <td width="75%">Платье, сарафан</td>
          <td>7000 + усложняющий элемент 200</td>
        </tr>
        <tr>
          <td width="4%">4</td>
          <td width="75%">Жакет на подкладке</td>
          <td>5000 + усложняющий элемент 100</td>
        </tr>
        <tr>
          <td width="4%">5</td>
          <td width="75%">Шторы</td>
          <td>70 р./ метр</td>
        </tr>
        </tbody>
      </table>
      <h4 class="modal-title text-center">Блузки</h4>
      <table class="table">
        <tbody>
        <tr>
          <td width="4%"><strong>№</strong></td>
          <td width="75%"><strong>товар</strong></td>
          <td width="19%"><strong>цена (руб.)</strong></td>
        </tr>
        <tr>
          <td width="4%">1</td>
          <td width="75%">Забрать боковые швы, частично выпарывая рукава</td>
          <td>400</td>
        </tr>
        </tbody>
      </table>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--/Modal subscription-->
