
<!--Navigation & Intro-->
<header id="header">

  <!--Navbar-->
  <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">

    <div class="container">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">
        <strong>Ателье 44</strong>
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">

        <!--Links-->
        <ul class="navbar-nav mr-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link" href="#header" data-offset="100">Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#products" data-offset="100">Наша продукция</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#price" data-offset="100">Цены</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials" data-offset="100">Отзывы</a>
          </li>
          <li class="nav-item navbar-right">
            <a class="nav-link" href="#footer" data-offset="100">Как нас найти</a>
          </li>
        </ul>

        <!--Social Icons-->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" href="http://instagram.com/atelie44"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!--/Navbar-->

  <!--Mask-->
  <div class="view intro" id="home">
    <div class="hm-black-strong-1">
      <div class="full-bg-img flex-center">
        <div class="container">
          <div class="row smooth-scroll">
            <div class="col-md-12 white-text text-center">
              <div class="wow fadeInDown" data-wow-delay="0.2s">
                <h2 class="brand-name font-bold mb-2">Ателье 44</h2>
                <hr class="hr-light">
                <h3 class="subtext-header mt-2 mb-2">Лучшее ателье в Солнцево и Переделкино.</h3>
                <h3 class="subtext-header mt-2 mb-2"><a href="tel:+79260614007">+7 (926) 061-40-07</a></h3>
              </div>
              <a href="#price" data-offset="100" class="btn btn-rounded btn-indigo-2 wow fadeInLeft" data-wow-delay="0.2s">Цены</a>
              <a href="#about" data-offset="100" class="btn btn-rounded btn-info wow fadeInRight" data-wow-delay="0.2s">Почему мы</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Mask-->

</header>
<!--/Navigation & Intro-->
