<!--Section: Testimonials v.3-->
<section id="testimonials" class="section team-section">

  <!--Section heading-->
  <h1 class="text-center mb-3 font-big font-bold wow fadeIn" data-wow-delay="0.2s">Отзывы клиентов:</h1>

  <!--Section description-->
  <p class="section-description wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

  <!--First row-->
  <div class="row text-center">

    <!--First column-->
    <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.4s">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar">
          <img src="{{ site.url }}/images/otziv1.jpg" class="rounded-circle img-fluid">
        </div>

        <!--Content-->
        <h4>Оксана</h4>
        <p><i class="fa fa-quote-left"></i> Я постоянно отшиваю себе разные вкусности, у меня много идей и надеюсь что воплощу их все, каждый сезон придумываю что-то новое, спасибо Валентине за её терпение. Люблю индивидуальный пошив, таких вещей больше ни у кого нет! Мне на машине ехать из Ново Переделкино 5 минут.</p>
      </div>
    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.4s">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar">
          <img src="{{ site.url }}/images/otziv2.jpg" class="rounded-circle img-fluid">
        </div>

        <!--Content-->
        <h4>Марина</h4>
        <p><i class="fa fa-quote-left"></i>Я постоянный клиент, часто ушиваю себе платья, трудно найти вещь которая бы сидела идеально. Скоро зима хочу себе парочку Шуб, так что буду часто заезжать. Рядом с ателье мичуринский пр-т где я работаю, не теряю время в жутких пробках!

        </p>
      </div>
    </div>
    <!--/Second column-->

    <!--Third column-->
    <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.4s">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar">
          <img src="{{ site.url }}/images/otziv3.jpg" class="rounded-circle img-fluid">
        </div>
        <!--Content-->
        <h4>Екатерина</h4>
        <p><i class="fa fa-quote-left"></i>Я работаю в «Трансаэро», нам часто меняют форму, то худеешь, то полнеешь, при этом всегда надо выглядеть идеально. Ателье 44 находится почти рядом с домом, мне удобно, а главное быстро. Вечером закинула форму, утром забрала, с нашим графиком полетов это очень важно!

        </p>

      </div>
    </div>
    <!--/Third column-->

  </div>
  <!--/First row-->

</section>
<!--/Section: Testimonials v.3-->
